@import './variables';
@import './mixins.scss';
@import './_typography.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}
@font-face {
    font-family: "CircularStd";
    src: local(CircularStd) url(../fonts/circular-std-medium-500.ttf) format(opentype);
}
button {
    border: none;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
li {
    list-style: none;
}
.button--signup {
    width: 98.01px;
    height: 42px;
    background: $access-bg;
    border-radius: 10px;
    @include flex(center, center);
    @include access {

    }
}